*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    cursor: url(../cursor/gam308.cur), progress !important;
    background: url(../img/background.jpg) no-repeat fixed center;
    font-family: 'Black Ops One', cursive;
}

:root {
    --font-color : #fff;
    --black-color : #000;
}

